<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="horizontal"
        android:layout_weight="1">


        <LinearLayout
            android:layout_width="match_parent"
            android:id="@+id/about"
            android:layout_height="match_parent"
            android:gravity="center"
            android:background="#FC3737"
            android:orientation="vertical"
            android:layout_weight="1">

            <ImageView
                android:layout_width="146dp"
                android:layout_height="151dp"
                android:src="@drawable/about" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="ABOUT"
                android:textColor="#ffffff"
                android:textStyle="bold"
                android:layout_marginTop="10dp"
                android:textSize="30dp"/>

        </LinearLayout>

        <LinearLayout
            android:id="@+id/course"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:orientation="vertical"
            android:layout_weight="1">

            <ImageView
                android:layout_width="154dp"
                android:layout_height="152dp"
                android:src="@drawable/course" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="COURSE"
                android:textColor="#FC3737"
                android:textStyle="bold"
                android:layout_marginTop="10dp"
                android:textSize="30dp"/>

        </LinearLayout>
    </LinearLayout>


    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="horizontal"
        android:layout_weight="1">


        <LinearLayout
            android:id="@+id/contact"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:background="#ffffff"
            android:orientation="vertical"
            android:layout_weight="1">

            <ImageView
                android:layout_width="118dp"
                android:layout_height="122dp"
                android:src="@drawable/contact" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="CONTACT"
                android:textColor="#FC3737"
                android:textStyle="bold"
                android:layout_marginTop="10dp"
                android:textSize="30dp"/>

        </LinearLayout>

        <LinearLayout
            android:id="@+id/gallery"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:background="#FC3737"
            android:orientation="vertical"
            android:layout_weight="1">

            <ImageView
                android:layout_width="185dp"
                android:layout_height="166dp"
                android:src="@drawable/gallery" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="GALLERY"
                android:textColor="#ffffff"
                android:textStyle="bold"
                android:layout_marginTop="10dp"
                android:textSize="30dp"/>

        </LinearLayout>
    </LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="horizontal"
        android:layout_weight="1">


        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/admission"
            android:gravity="center"
            android:background="#FC3737"
            android:orientation="vertical"
            android:layout_weight="1">

            <ImageView
                android:layout_width="183dp"
                android:layout_height="155dp"
                android:src="@drawable/admission" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="ADMISSION"
                android:textColor="#ffffff"
                android:textStyle="bold"
                android:layout_marginTop="10dp"
                android:textSize="30dp"/>

        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:orientation="vertical"
            android:layout_weight="1">





        </LinearLayout>
    </LinearLayout>


</LinearLayout>